.source-view {
	color: #cacaca;
    font-size: 12px;
    padding: 5px 5px 5px 20px;
    padding-bottom: 5px;
	cursor: pointer;

	&:hover {
		background-color: #414339;
	}

	& span {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}